/* change all .btn to .btn-sm size on xs */
@media screen and (max-width: 600px) {
    div.legenda {
        top: 3px;
        right: 5px;
    }
    div.legenda legend {
        font-size: 9px;
    }
    div.legenda ul {
        font-size: 7px;
    }
    #divTitlu {
        font-size: 20px !important;
    }
    #labelAni {
        font-size: 10px;
    }
    #noData {
        font-size: 10px;
    }

    #divDescriereLegenda{
        font-size: 7px;
        bottom: -11px;
        right: 3px;
    }

    .btn {
        padding: .15rem .3rem;
        font-size: .575rem;
        line-height: 1;
        border-radius: .2rem;
        margin-bottom: 0.55rem;
    }

    #svgHartaRomaniei {
        padding: 0.55rem!important;
    }

    #schimbDate {
        display: inline-grid;
        float: left;
        position: absolute;
        left: 10px;
        top: 1.5rem;
    }

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0px !important;
    }
}

#divTitlu {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
}

legend{
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    font-size: 20px;
}

#butonPopulatie {
    background-color: rgb(52, 41, 90);
}

#divDescriereLegenda {
    position: absolute;
    right: 11px;
    font-style: italic;
    font-size: 11px;
    bottom: 3px;
}

.legenda{
    position:absolute;
    top:10px;
    right:10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

.legenda ul{
    margin-bottom:0px;
}

.legendLista {
    list-style:none;
    line-height: 0.9;
    padding-left: 0;
}
.legendLista li {
    line-height: 1;
    margin-top: 5px;
}
.legendLista span{
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
}

.legendLista .procentMinusUnu { background-color:#0C1C41; }
.legendLista .procentMinusZeroTrei { background-color: #20325E; }
.legendLista .procentMinusZeroDoi { background-color: #364975; }
.legendLista .procentMinusZeroUnu { background-color: #566890; }
.legendLista .procentZero { background-color: #AFAF45; }
.legendLista .procentZeroUnu { background-color: #D77777; }
.legendLista .procentZeroDoi { background-color: #AF4545; }
.legendLista .procentZeroTrei { background-color: #8C2424; }
.legendLista .procentUnu { background-color: #610808; }

.legendLista .procentSnmZeroUnu { background-color:#1A8C17; }
.legendLista .procentSnmUnuDoi { background-color: #4DA345; }
.legendLista .procentSnmDoiTrei { background-color: #B3D2A1; }
.legendLista .procentSnmTreiPatru { background-color: #E6E9CF; }
.legendLista .procentSnmPatruCinci { background-color: #FFDCCF; }
.legendLista .procentSnmCinciSase { background-color: #FF7B73; }
.legendLista .procentSnmSaseSapte { background-color: #FF4A45; }
.legendLista .procentSnmPesteSapte { background-color: #FF1917; }

.legendLista .procentNatZeceP { background-color:#1A8C17; }
.legendLista .procentNatZece3 { background-color: #4DA345; }
.legendLista .procentNatZece2 { background-color: #B3D2A1; }
.legendLista .procentNatZece1 { background-color: #E6E9CF; }
.legendLista .procentNatNouaZece { background-color: #FFDCCF; }
.legendLista .procentNatOptNoua { background-color: #FF7B73; }
.legendLista .procentNatSapteOpt { background-color: #FF4A45; }
.legendLista .procentNatSapte { background-color: #FF1917; }

.legendLista .procentMortZece { background-color:#1A8C17; }
.legendLista .procentMortZece1 { background-color: #4DA345; }
.legendLista .procentMortZece2 { background-color: #B3D2A1; }
.legendLista .procentMortZece3 { background-color: #E6E9CF; }
.legendLista .procentMortZece4 { background-color: #FFDCCF; }
.legendLista .procentMortZece5 { background-color: #FF7B73; }
.legendLista .procentMortZece6 { background-color: #FF4A45; }
.legendLista .procentMortZeceP { background-color: #FF1917; }

.patratelLegenda {
    width: 15px;
    height: 15px;
    border:1px solid black;
}

#svgHartaRomaniei{
    position: relative;
    text-align: center;
    background-color:rgba(52, 41, 90, 0.116)!important;
    margin-top: 15px;
    /* border:1px solid black;
    box-shadow: 20px 20px 50px 15px grey; */
}

#rangeAni {
    -webkit-appearance: none;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    /* transform-origin: 75px 75px;
    transform: rotate(90deg); */
}

#rangeAni::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}

#rangeAni::-moz-range-thumb {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#tabelJudet{
    display: none;
}
#tabelJudet table{
    margin: 15px;
    width: calc(100% - 30px);
}

#labelAni {
    text-align: center;
}

svg{
    stroke:rgb(52, 41, 90);
    stroke-width: 2px;
    transition: fill 0.3s;
}

#schimbDate{
    margin-bottom: 15px;
}